
body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 30px;
    color: darkslategray;
    background: ghostwhite;
}
form{
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 30px;
    color: aliceblue;
    background: bisque;
    align-content: center;
    alignment: left;
}

